<div class="container edit_form">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2 col-sm-12">
    </div>
    <div class="col-md-5 col-sm-12">
      <% if @product.image_url %>
        <%= image_tag(@product.image_url, data_zoom_image: @product.image_url, width: "300", class: "img-zoom") %>
      <% end %>
    </div>

  <div class="col-md-5 col-sm-12">
    <div class="product_edit">
      <%= form.label :name %><br>
      <%= form.text_field :name, id: :product_name, :required => true %><br>
     
      <%= form.label :description %><br>
      <%= form.text_area :description, id: :product_description, :required => true  %><br>
       
      <%= form.label :colour %><br>
      <%= form.text_field :colour, :required => true %><br>
      
      <%= form.label :price %><br>
      <%= form.text_field :price, :required => true %><br>
        
      <%= form.label :image_url %><br>
      <%= form.text_field :image_url, id: :product_image_url %><br>
    </div>

  <div class="actions update">
    <%= form.submit class:"btn btn-primary" %>
  </div>

  <%= link_to '', @product, class: 'edit_product btn btn-default glyphicon glyphicon-eye-open' %>
  <%= link_to '', products_path, class: 'show_edit btn btn-default glyphicon glyphicon-backward' %>

  </div>
</div>

<% end %>
