<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="product_edit">
    <table>
      <tr>
        <div class="field">
          <th><%= form.label :name %></th>
          <td><%= form.text_field :name, id: :product_name %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= form.label :description %></th>
          <td><%= form.text_area :description, id: :product_description %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= form.label :colour %></th>
          <td><%= form.text_field :colour %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= form.label :price %></th>
          <td><%= form.text_field :price %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <th><%= form.label :image_url %></th>
          <td><%= form.text_field :image_url, id: :product_image_url %></td>
        </div>
      </tr>
    </table>
  </div>



  <div class="actions update">
    <%= form.submit %>
  </div>

<% end %>
