
  <p id="notice"><%= notice %></p>

<div class="container product_overview">
  <h1 class="product_header">Products</h1>
</div>


<div class="container-fluid">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
	<ol class="carousel-indicators">
	  <% @products.each_with_index do |product, i| %>
	    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
	  <% end %>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
	  <% @products.each do |product| %>
	  <div class="item<%= " active" if product == @products.first %>">
	    <div class="inner-item">
	      <%= image_tag(product.image_url, class:"img-slider") %>
	    </div>
	    <div class="carousel-caption">
	       <%= product.name %>
	    </div>
	  </div>
	  <% end %>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div class="container">
  <button class="add_product"><%= link_to 'New Product', new_product_path %></button>
  <div class="row">
    <%= render @products %>
  </div>
</div>







