<div class="container img_text">
  <%= image_tag(image_url('wave.jpg'), class:"heading img_fullscreen") %>
  <div class="centered">
	<h2>Products</h2>
  </div>
</div>

<div class="container product_overview">
<p id="notice"><%= notice %></p>


<%= render 'slideshow', product: @product %>


  <%= link_to 'New Product', new_product_path, class: 'btn btn-default add_product' %>
  <div class="row">
    <%= render @products %>
  </div>
</div>







