<div class="container show_product">
  <p id="notice"><%= notice %></p>

    <div class="product_info">
      <table>
      	<tr>
      	  <th><strong>Name:</strong></th>
		      <td><%= @product.name %></td>
    		</tr>
    		<tr>
    		  <th><strong>Description:</strong></th>
    		  <td><%= @product.description %></td>
		    </tr>
        <tr>
          <th><strong>Colour:</strong></th>
          <td><%= @product.colour %></td>
        </tr>
        <tr>
          <th><strong>Colour:</strong></th>
          <td><%= @product.price %></td>
        </tr>
		    <tr>
    		  <th><strong>Image url:</strong></th>
    		  <td><%= @product.image_url %></td>
        </tr>
        </table>
    </div>

  <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
  <%= link_to 'Back', products_path, class: 'btn btn-default' %>

  <%= @product.highest_rating_comment %>

</div>
